<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/text/PythonBasic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第1章

## 変数

**変数**は、データを格納するためにコンピュータ内部に準備する箱のようなものです。

Pythonで変数を作成する場合は、必ず**変数名**と**セットしたい値**を同時に書く必要があります。

In [1]:
name = "Chitose"  # nameという変数に、文字列の"Chitose"を代入
number = "b1998040"  # numberという変数に、文字列の"b1998040"を代入
age = 25  # ageという変数に、整数の"25"を代入 

print(name)
print(number)
print(age)

Chitose
b1998040
25

### 自己代入
変数に入っている数値を利用して計算を行い、再度その変数に書き戻す演算を**自己代入**といいます。

In [2]:
age = 25

# 元の変数に対して4を加算する
age = age + 4
print(age)

29

自己代入には省略形があります。  
以下の表を参考にしてください。

|代入演算子|  記述例  |  意味  | 
| ---- | ---- | ---- |    
| +=  |  a +=  b  |  a = a + b  |   
|  -=  |  a -=  b  |  a = a - b  | 
|  *=  |  a *=  b  |  a = a * b  | 
|  /=  |  a /=  b  | a = a / b  |
|  //=  |  a //=  b  |  a = a // b  | 
|  %=  |  a %=  b  |  a = a % b  | 
|  **=  |  a **=  b  | a = a ** b  |

In [3]:
age = 25
age += 4
print(age)  # 足し算

age = 25
age -= 4
print(age)  # 引き算

age = 2
age *= 4
print(age)  # 掛け算

age = 2
age **= 4
print(age)  # べき乗

age = 25
age /= 4
print(age)  # 割り算（商は実数）

age = 25
age //= 4
print(age)  # 割り算（商は整数）

age = 25
age %= 4
print(age)  # 剰余算

29
21
8
16
6.25
6
1

## データ型
プログラムで扱うことのできるデータの種類を**データ型**といいます。  
Pythonにおけるデータ型は以下表のようなものがあります。

|種類|  型  |  例  | 
| ---- | ---- | ---- |    
| 文字列  |  str  |  "Taro" , "b2220000"  |   
|  整数  |  int  |  -12 , 19  | 
|  浮動小数点数  |  float  |  -0.5 , 19.0  | 
|  真偽値  |  bool  | True , False  |

C言語では他にdouble型、short型、long型などがありますが、Pythonにはありません。

**Pythonでは、変数代入した値によってそのデータ型が決まります。**

Pythonの柔軟性がよく分かるでしょう。

### type関数
**type関数**を使うと、変数にどのような型の値が格納されているかを調べることができます。

In [4]:
name = "Chitose"
number = "b1998040"
age = 25 

print(type(name))
print(type(number))
print(type(age))

<class 'str'>
<class 'str'>
<class 'int'>

### 型変換
データ型を別のものに変換する際には、**型変換**（**キャスト**）を行います。

**`変換先の型名（式）`** という式になります。

In [5]:
age = 25 
print(type(age))  # 最初は整数型です

age = str(age)
print(type(age))  # 型変換して文字型になりました

<class 'int'>
<class 'str'>

整数と浮動小数点数の間で演算が行われる場合は、  
浮動小数点数に揃えられてから演算が行われます。  

このように自動的に型変換が行われる仕組みを**暗黙の型変換**といいます。  
数値と文字の間では行われません。

In [6]:
age = 25
print(type(age))

plus = 0.5
print(type(plus))

age += plus  # ageが浮動小数点に揃えられて演算
print(type(age))

<class 'int'>
<class 'float'>
<class 'float'>

## print関数
数値型と文字列型を結合することはできません。  
そのため、結合したい際は型変換を行う必要があります。

In [7]:
name = "Chitose"
age = 25

# 整数ageを文字に型変換
print(name + "さんの年齢は " + str(age) + "歳 です")

Chitoseさんの年齢は 25歳 です

しかしいちいち型変換を行って出力するのは手間です。 

プログラムを簡潔に書くために、以下のような表現を使いましょう。

### formatメソッド
**formatメソッド**を利用することで、ある文字列の様々な場所に逐一値を埋め込むことができます。

値を埋め込みたい場所に「**{}**（**プレースホルダー**）」を書きます。  
formatのカッコ内に、埋め込みたい値をカンマ区切りで並べます。

In [8]:
name = "Chitose"
age = 25

print("{}さんの年齢は {}歳 です ".format(name,age))

Chitoseさんの年齢は 25歳 です

formatメソッドを使って書式指定を行いたい際は、[こちら](https://www.javadrive.jp/python/string/index24.html)のサイトを参考にしてください。

### f文字列
**f文字列**を利用することで、formatメソッドによる処理をさらに簡潔化できます。

プレースホルダーの中に埋め込みたい値を入れることができます。  
式を記述することもできます。

In [9]:
name = "Chitose"
age = 25

print(f"{name}さんの年齢は {age}歳 です ")
print(f"4年後は {age+4}歳 です")

Chitoseさんの年齢は 25歳 です
4年後は 29歳 です

f文字列を使って書式指定を行いたい際は、[こちら](https://www.javadrive.jp/python/string/index25.html)のサイトを参考にしてください。

## input関数
変数には、キーボードから入力した文字列や数字を代入することができます。  
そのような入力を行える関数が**input関数**です。  

input関数で入力された値は**文字列型**として扱われます。注意してください。

In [22]:
name = "Chitose"

print("年齢を入力してください")
age = input()  # 入力するよう促されます

print(f"{name}さんの年齢は {age}歳 です ")
print(f"4年後は {int(age)+4}歳 です")  # ageは文字列型なので整数型に変換しています

年齢を入力してください
24
Chitoseさんの年齢は 24歳 です
4年後は 28歳 です

input関数では引数で入力を促すメッセージを指定することが可能です。

In [23]:
name = "Chitose"

age = input("年齢を入力してください\n")  # 引数でメッセージ指定

print(f"{name}さんの年齢は {age}歳 です ")
print(f"4年後は {int(age)+4}歳 です")  # ageは文字列型なので整数型に変換しています

年齢を入力してください
24
Chitoseさんの年齢は 24歳 です
4年後は 28歳 です

## 乱数
**乱数**とは、ランダムで何が出るか分からない数字のことです。  
確率・統計的な処理や、数値シミュレーションには欠かせません。  

Pythonで乱数を扱う場合、標準ライブラリの**random**をインポートする必要があります。  
使う前に「random import」の記述が必要です。
以下にまとめたものを示します。

||書き方|意味|  
|:---:|:---|:---| 
|1|random.random()|数字をランダムに表示|  
|2|random.randint ( 開始数 , 終了数 ) |ランダムに一つだけint値（整数値）を表示|  
|3|random.uniform ( 開始数 , 終了数 )|ランダムに 一つだけfloat値（実数値）を表示|  
|4|random.choice(データ)|データの中でランダムに一つだけ要素を表示|
|5|random.shuffle(リスト)|リストの中の要素をシャッフルしてランダムに一つだけ要素を表示|

### random.random()
**0.0以上、1.0未満**のランダムな実数を返します。  
()内にデータなどを入れてしまうとエラーが起こります。

### random.randint ( 開始数 , 終了数 )
**最小値 ≦ N ≦ 最大値**となるランダムな整数Nを返します。  
以下のコードは、0~20の中から整数値をランダムに選んでいます。

In [12]:
import random
random.randint(0,20)

8

### random.uniform ( 開始数 , 終了数 )
**最小値 ≦ N ≦ 最大値**となるランダムな実数Nを返します。  
以下のコードは、0~20の中から実数値をランダムに選んでいます。

In [13]:
import random
random.uniform(0,20)

4.641962820462695

### random.choice(データ)
**文字列**など（他に**リスト**、**タプル**、**range**）のデータからランダムに要素を1つ選んで返します。  
以下のコードは、文字列の中からランダムな文字を表示するプログラムです。

In [14]:
import random
random.choice("ABCD")

'C'

### random.shuffle(リスト)
リスト（今後学習、C言語の配列に近い）の要素をランダムにシャッフルします。    

以下のコードは、クラスの番号4つが含まれているリストを用意し、4つの要素をシャッフルしたリストclassを表示するプログラムです。

In [15]:
import random
ABC_list = ['A', 'B', 'C', 'D']
random.shuffle(ABC_list)
print(ABC_list)

['D', 'A', 'C', 'B']

# 第1章補足

## インクリメント・デクリメント演算子
インクリメント・デクリメント演算子は、Pythonにはありません。  
自己代入演算子で代用しましょう。

In [16]:
count = 1

# count++ としたいですが…できません

count += 1
count += 1
count += 1
print(count)

4

## len関数
**len関数**を用いると、文字数をカウントすることができます。

In [17]:
# "これは文字です"を変数sに代入
s = 'これは文字です'

# 文字型変数sの長さを出力
print(len(s))

7

## 文字列とインデックス
文字列の場合、**添え字**（**インデックス**）を指定することで、特定の文字を取得できます。  
添え字は**1ではなく0からスタートします**。 
 
![pp_01_2.png]()

以下のコードでは、文字列の1文字目を取得しています。

In [18]:
# "b2223456"を変数numberに代入
number = "b1998040"
# numberから「b」だけ取得する
print(number[0])

b

負の数を指定すると、末尾からの順番で指定することもできます。

In [19]:
# numberから最後の文字「0」を取得する
print(number[-1])

0

以下のコードでは、複数の文字をまとめて取得しています。  
このとき、**スライス**という構文を用います。



![pp_01_1.png]()  
※`A`は**開始値**。`A:`と`B`を指定しなかった場合は添え字が`A`以上のすべての要素を参照する  
※`B`は**終了値**。`:B`と`A`を指定しなかった場合は添え字が`B`未満のすべての要素を参照する  
※`C`は**増減値**。`A:B`と`C`を指定しなかった場合は増減値は「+1」となる  
※`:`とだけ指定すると、すべての要素を参照する

In [20]:
# numberから「b199」を取得する
print(number[0:4])
# 以下のように省略可能
print(number[:4])
#インデックス4以降を取得
print(number[4:])

#2文字おきに取り出す
print(number[::2])

b199
b199
8040
b984

増減値を負の数にすると、逆順にして取り出すことができます。

In [21]:
# 逆順にして取り出す
print(number[::-1])

0408991b